*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eeeeee;
    padding:20px;
}

.resume{
    width:794px;
    min-height:1123px;
    margin:auto;
    background:white;
    display:flex;
}

.left{
    width:28%;
    padding:30px 20px;
}

.right{
    width:72%;
    padding:20px 25px;
}

.profile{
    width:140px;
    height:140px;
    border-radius:60%;
    object-fit:cover;
    display:block;
    margin:auto;
    margin-bottom:25px;
}

.contact{
    font-size:12px;
    line-height:19px;
    word-break:break-word;
}

.left h2{
    color:#16a085;
    font-size:16px;
    margin-top:25px;
    margin-bottom:12px;
    border-bottom:1px solid #d8d8d8;
    padding-bottom:6px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:6px;
}

.skills span{
    background:#16a085;
    color:white;
    padding:6px 10px;
    border-radius:4px;
    font-size:12px;
}

.education h4{
    font-size:12px;
    margin-bottom:6px;
}

.education p{
    font-size:12px;
    line-height:16px;
    color:#555;
}

.header{
    background:#24b28f;
    color:white;
    padding:18px;
    margin-bottom:25px;
}

.header h1{
    font-size:32px;
    margin-bottom:5px;
    font-weight:500;
}

.header h3{
    font-size:18px;
    margin-bottom:12px;
    font-weight:600;
}

.header p{
    font-size:12px;
    line-height:18px;
}

section{
    margin-bottom:20px;
}

section h2{
    color:#16a085;
    font-size:20px;
    margin-bottom:15px;
    border-bottom:1px solid #d8d8d8;
    padding-bottom:6px;
}

.job{
    margin-bottom:18px;
}

.job h3{
    color:#16a085;
    font-size:16px;
    font-weight:bold;
}

.job h4{
    font-size:18px;
    margin-bottom:2px;
}

.date{
    font-size:10px;
    color:#777;
}

.project-title{
    margin-top:8px;
    margin-bottom:8px;
    font-style:italic;
    font-size:11px;
    color:#666;
}

ul{
    padding-left:16px;
}

li{
    font-size:11px;
    line-height:15px;
    margin-bottom:2px;
}

li ul{
    margin-top:3px;
}

strong{
    font-size:11px;
}

.mini-section h3{
    color:#16a085;
    font-size:13px;
    margin-top:8px;
    margin-bottom:3px;
}

.mini-section ul{
    padding-left:16px;
}

.mini-section li{
    font-size:10.5px;
    line-height:14px;
}